.headerBox {
  display: flex;
  padding: 62px 30px 0px 21px;
  justify-content: space-between;
  align-items: baseline;
}

.dateTextWrapper {
  display: flex;
  align-items: baseline;
  border-bottom: 2px solid #a7a7a7;
}

.dateBigText {
  font-size: 32px;
  margin-right: 10px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
  align-items: bottom;
  font-weight: 800;
  font-family: Pretendard;
}

.dateSmallText {
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.16px;
  font-weight: 800;
  font-family: Pretendard;
}

.planButton {
  all: unset;
  display: flex;
}
.detailText {
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  margin-right: 5px;
  font-weight: 600;
  font-family: Pretendard;
}
