@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-ExtraBold.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Black.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Medium.otf");
  font-weight: 300;
}
