.inputTitleWrapper {
  display: flex;
  align-items: center;
  margin-top: 26px;
}

.inputLable {
  font-size: 16px;
  font-style: normal;
  margin-right: 16px;
  width: 56px;

  font-weight: 400;
  font-family: Pretendard;
  line-height: normal;
}

.timeInputBox {
  height: 55px;
  width: 66px;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  line-height: normal;
  border-radius: 10px;
  background: #fff;
  border: 0px;
  margin-right: 4px;
}
