.inputTitleWrapper {
  display: flex;
  align-items: center;
  margin-top: 26px;
}

.inputLable {
  font-size: 16px;
  font-style: normal;
  margin-right: 16px;
  width: 56px;

  font-weight: 400;
  font-family: Pretendard;
  line-height: normal;
}

.titleInputBox {
  height: 55px;
  width: 73%;
  font-size: 18px;
  padding: 10px;
  line-height: normal;
  border-radius: 10px;
  background: #fff;
  border: 0px;
  margin-right: 4px;
  font-weight: 500;
  font-family: Pretendard;
}
