.navigatorWrapper {
  width: 100%;
  display: flex;
}

.navItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 51px;

  font-size: 12px;
  font-style: normal;
  line-height: normal;
  font-family: Pretendard;
  font-weight: 300;
}
