.confirmDataInpuBoxWrapper {
  margin-top: 31px;
  background: #f4f4f4;
  width: 83%;
  border-radius: 10px;
  padding: 16px 0px 0px 17px;
}
.confirmDataTitle {
  color: #6549ba;
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  margin-bottom: 14px;
  font-family: Pretendard;
  font-weight: 700;
}
