.mainWrapper {
  padding: 0px 17px 0px 17px;
}

.mainTitleText {
  font-size: 16px;
  margin: 73px 9px 13px;
}

.titleInput {
  border-radius: 10px;
  width: 100%;
  background: #fff;
  .MuiOutlinedInput-notchedOutline {
    border-color: #c0abff;
  }
  .MuiOutlinedInput-root.Mui-focused fieldset {
    border: 3px solid #c10000;
  }
}
