.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 96px;
  align-items: flex-end;
}
.headerButton {
  all: unset;
  cursor: pointer;
  text-align: center;
}
.titleText {
  width: 75%;
  font-family: Pretendard;
  font-weight: 300;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 5px;
}
