.gendertext {
  font-size: 14px;
}

.genderOneBox {
  display: flex;
  align-items: center;
}

.genderSelectBox {
  display: flex;
  gap: 10px;
}
.genderRadio {
  padding: 5px 5px 5px 5px;
}
.genderTitle {
  font-family: Pretendard;
  font-weight: 500;
  color: #a3a3a3;
  font-size: 16px;
  margin-right: 7px;
  font-style: normal;
  line-height: normal;
  width: 80px;
  flex-shrink: 0;
}
.genderWrapper {
  display: flex;
  align-items: center;
  min-width: 250px;
  max-width: 700px;
  width: 100%;
}
